.container {
  width: 840px;
  margin: 0 auto;
}

.editor {
  width: 100%;
  background-color: #fff;
}

:global {
  .mde-header {
    padding: 0 16px;
  }

  .mde-header ul.mde-header-group {
    padding: 0 !important;
  }

  .DraftEditor-editorContainer {
    line-height: 1.5;
  }
}