.wrapper {
  width: 100%;
  height: 100%;
  background: url("../LoginPage/bg.jpg") no-repeat center;
  background-size: cover;
}

.head {
  text-align: center;
  color: #fff;
  line-height: 50px;

  h2 {
    color: inherit;
  }
}

.frame {
  width: 440px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 36px 20px;
}