body, html, .main {
  width: 100%;
  height: 100%;
}

:global {
  #app {
    width: 100%;
    height: 100%;
  }

  .ant-table .ant-breadcrumb a {
    color: #1890ff;
  }
}

.content {
  padding: 20px 12px;
}

.loading {
  position: relative;
  width: 100%;
  height: 100%;

  > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}